<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tool_TikTok.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <Tool_TikTok.Properties.Settings>
      <setting name="ckbLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbUpVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtTimeSleepFrom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="txtTimeSleepTo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="txtTimerDate" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTimerHours" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTimerMinutes" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTag" serializeAs="String">
        <value />
      </setting>
      <setting name="txtNumberThread" serializeAs="String">
        <value />
      </setting>
      <setting name="txtAPIGPM" serializeAs="String">
        <value />
      </setting>
      <setting name="txtScale" serializeAs="String">
        <value />
      </setting>
      <setting name="colorRed" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="colorGreeen" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="colorOrange" serializeAs="String">
        <value>255, 128, 0</value>
      </setting>
      <setting name="txtMaxVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="ckbStatistical" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbFollow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbRegTikTok" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbSurfing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbTym" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbComment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtCommentContent" serializeAs="String">
        <value />
      </setting>
      <setting name="ckbInteract" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtTimeInteract" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ckbLoginByCookie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtLinkToBuffFollow" serializeAs="String">
        <value />
      </setting>
      <setting name="ckbRegAccTmProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoProxyThuong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoTMProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoNotTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbChangePass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoFireFox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rdoChrome" serializeAs="String">
        <value>False</value>
      </setting>
    </Tool_TikTok.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>